<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>PetCave</title>
    <link rel="icon" type="image/png" href="/Assets/cropped-favicon.png" />

</head>

<body>

    <div class="container">
        <form method="POST" id="my-form" action="https://formspree.io/f/xyyboevb">
            <div class=" d-flex flex-column align-itens-center">
                <span><a class="fas fa-chevron-left whiteColor" href="/menu"></a></span>
                <h4 class="text-center text-light mb-2">Indique o seu email e a box desejada.</h4>
                <form>
                    <div class="form-group text-center">
                        <h6 class="text-light">Email</h6>
                        <input type="email" required class="form-control" name='email'
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group text-center">
                        <h6 class="text-light mt-2">Box desejada</h6>
                        <input required class="form-control" name="message" type="text"
                            placeholder="Qual box gostaria de solicitar?"></input>
                    </div>
                    <button  id="my-form-button" type="submit" value="Send" class="btn btn-outline-light mt-4">Enviar</button>
                   <span id="my-form-status"class="badge badge-primary"></span>
                </form>
            </div>
        </form>

    </div>

    <style>
        body {
            background-color: #9351d5;
        }

        .whiteColor {
            color: #ffffff;
        }

        #form {
            margin: auto;
        }

        .card-img-top {
            width: 100%;
            height: 45vw;
            object-fit: cover;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="/index.js"></script>
</body>

</html>