<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>PetCave</title>
    <link rel="icon" type="image/png" href="/Assets/cropped-favicon.png" />

</head>

<body>
    <style>
        body {
            background-color: #9351d5;
        }


        .whiteColor {
            color: #ffffff;
        }

        #form {
            margin: auto;
        }

        .card-img-top {
            width: 100%;
            height: 45vw;
            object-fit: cover;
        }
    </style>
    <div class="container d-flex flex-column align-itens-center justify-content-center text-center">
        <h2 class="text-center text-light mt-2">PetCave</h2>
        <img src="/Assets/2306.jpg" style="width: 15em; margin: 0 auto; border-radius: 50%; margin-bottom: 15px;">
        <h6 class="text-center text-light">A melhor app para o seu pet.</h6>
        <form method="POST" class="container d-flex flex-column align-itens-center justify-content-center"action="/register">
            <div class="form-group">
                <input required type="email" class="form-control mb-3 text-center" aria-describedby="emailHelp" placeholder="Email do dono"
                    name="username">
            </div>
            <div class="form-group">
                <input required type="password" class="form-control mb-3 text-center" placeholder="Password do dono" name="password">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control mb-3 text-center" aria-describedby="emailHelp" placeholder="Idade do pet"
                    name="idade_pet">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control mb-3 text-center" aria-describedby="emailHelp"
                    placeholder="M/F (Macho ou Fêmea)" name="sexo_pet">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control mb-3 text-center" aria-describedby="emailHelp" placeholder="Peso do pet"
                    name="peso_pet">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control mb-3 text-center" aria-describedby="emailHelp" placeholder="Espécie do pet"
                    name="especie_pet">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control mb-3 text-center" aria-describedby="emailHelp" placeholder="Raça do pet"
                    name="raca_pet">
            </div>
            <button type="submit" value="registrar" class="btn btn-primary">Registrar</button>
        </form>
        <a href="/login" class="text-light text-center mt-1">Ir para área de login</a>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
    <script src="/index.js"></script>
</body>

</html>